table,
td,
th {
  border: 1px solid black;
}
#btncreer {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
#btnpublier {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
#btnsauvegarder {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
#btnsupprimer {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

#publierbtn {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
#sauvegarderbtn {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
#supprimerbtn {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
#publierbtn .deuxiemepartie {
  float: right;
}
.deplacer {
  float: right;
  margin: -5px;
  padding: 5px;
  top: 205px;
}
