/* table,
td,
th {
  border: 1px solid black;
} */
/* #btncreer {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
#btnpublier {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
#btnsauvegarder {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
#btnsupprimer {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

#publierbtn {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
#sauvegarderbtn {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
#supprimerbtn {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
#publierbtn {
  float: right;
}
.deplacer {
  position: relative;
  left: 250px;
  bottom: 424px;
  width: 230px;
  height: 220px;
  border: 1px solid black;
}
h1 {
  font-family: "Kdam Thmor", cursive; */
/*}
/* input {
  position: relative;
  width: 150%;
  right: 120px;
}
textarea {
  position: relative;
  width: 150%;
  right: 120px;
} */
/* .btnform {
  position: relative;
  left: 250px;
  bottom: 418px;
  height: 110px;
  border: 1px solid black;
}
.btnmodify {
  position: relative;
  left: 250px;
  bottom: 418px; NE JAMAIS FAIRE AVEC DES VALEURS TEUUUUBER VA
  height: 110px;
  border: 1px solid black;
}
.deuxiemepartie {
  position: relative;
  left: 250px;
  bottom: 418px;
  height: 110px;
  border: 1px solid black;
} */
